# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SourceGenerator.iml
/AndroidProjectSystem.xml
# Editor-based HTTP Client requests
/httpRequests/
